.DatablockPL {
    border: none;
    border-radius: 3px;
    font-size: 16px;
    padding: 20px 40px;
    float:inline-end;
    background-color:rgb(52, 192, 211);
    color: #ffffff;
    font-weight: bolder;
    text-align: center;
}

.parcelListStyle {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0em 0 0.1em rgb(255, 255, 255);
  }
  
.iconparcelListStyle {
    font-size: 35px;
    color: black;
    margin-right: 5px;
    color: #ffffff;
}
  
.customAddButton {
    background-color: #15D0C5;
    text-shadow: 0em 0 0.5em rgb(92, 92, 92);
    color: #ffffff;
    font-weight: 500;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 20px;  
    height: auto;   
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
.customAddButton:hover {
    background-color: #00b1a5; 
    color: #ffffff !important; 
    transform: scale(1.05);
}
.customAddButton:active { 
    transform: scale(0.95);
}
  

.importButton {
    background-color: #2dceff;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s, color 0.2s; 
}
  
.importButton:hover {
    background-color: rgb(54, 191, 255); 
    color: #ffffff !important; 
    transform: scale(1.02);
}
.importButton:active { 
    transform: scale(0.95);
}

.detailButton {
    background-color: #00919b;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s, color 0.2s; 
}
  
.detailButton:hover {
    background-color: rgb(0, 98, 110); 
    color: #ffffff !important; 
    transform: scale(1.02);
}
.detailButton:active { 
    transform: scale(0.95);
}

.editButton {
    background-color: #8E7BFF;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s, color 0.2s; 
}
  
.editButton:hover {
    background-color: #775fff!important;
    color: #ffffff !important; 
    transform: scale(1.02);
}
.editButton:active { 
    transform: scale(0.95);
}

.iconDelete {
    background-color: #FF6060;
    border: none;
    border-radius: 7px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s, color 0.2s; 
}
  
.iconDelete:hover {
    background-color: #ee3e3e; 
    transform: scale(1.02);
}
.iconDelete:active { 
    transform: scale(0.95);
}





.titleOfCreateParcel {
    color: aliceblue;
    align-items: center;
    margin-top: -5px;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 0em 0 0.1em rgb(255, 255, 255);
}


.CreatePLCard {
    margin-top: 20px;
    box-shadow: 0em 0 0.5em rgb(190, 190, 190);
    height: auto;
}

.CreatePLfrom {
    justify-content: center;
}


.AddParcelListButton {
    background-color: #E63373 ;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    padding: 20px 20px;
    font-size: 16px;
    margin-top: 36px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.AddParcelListButton:hover {
    background-color: #ac2252; 
    color: #ffffff !important; 
    transform: scale(1.05);
}
.AddParcelListButton:active { 
    transform: scale(0.95);
}


.titleOfImportParcelList {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    padding: 15px;
    background-color: rgb(126, 247, 206);
    border-radius: 8px;
  }

  .titleOfImportParcelList div {
    display: flex;
    justify-content:center;
  }

  .titleOfExportParcelList {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    padding: 16px;
    background-color: rgb(126, 247, 206);
    border-radius: 10px;

  }

  .titleOfExportParcelList div {
    display: flex;
    justify-content:center;
  }



.ButtonImportHistory {
    background-color: rgb(35, 189, 189);
    color: #ffffff;
    border: none;
    border-radius: 3px;
    padding: 30px 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    transition: background-color 0.2s, color 0.2s; 
  }
  
.ButtonImportHistory:hover {
    background-color: rgb(11, 126, 134); 
    color: #ffffff !important; 
    transform: scale(1.05);
}
.ButtonImportHistory:active { 
    transform: scale(0.95);
}


.titleofImportHistory {
    margin-top: 10px;
    font-size: 20px;
    text-align: left;
    padding: 25px;
    padding-left: 20px !important;
    color: aliceblue;
    background-color: rgb(1, 175, 175);
    border-radius: 5px;
}


.printParcelListBtn {
    background-color: #02c292;
    text-shadow: 0em 0 0.5em rgb(92, 92, 92);
    color: #ffffff;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 20px; 
    height: auto;   
    margin-left: 10px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
.printParcelListBtn:hover {
    background-color: rgb(15, 146, 124); 
    color: #ffffff !important; 
    transform: scale(1.05);
}
.printParcelListBtn:active { 
    transform: scale(0.95);
}

.BGstyle2 {
    min-height: 100vh;
    background-color: rgb(30, 105, 105);
  }

  .BGstyle3 {
    background-color: rgb(30, 105, 105);
  }

.cardParcelList {
    box-shadow: 0em 0 0.5em rgb(185, 247, 255);
    font-size: 16px;
    margin-top: 20px;
    height: auto;
}

.test {
    background-color: #ecfffd;
}
