.BGstyle {
  min-height: 100vh;
  background-color: rgb(30, 105, 105);
}
.titleValueParcel {
    margin-bottom: 20px;
    padding: 10px;
    color: aliceblue;
    background-color: #c52b61;
    border-radius: 7px;
    font-size: 14px;
}

.titleValueParcelLIST {
  margin-bottom: 20px;
  padding: 10px;
  color: aliceblue;
  background-color: #05cec0;
  border-radius: 7px;
  font-size: 14px;
}
.counttitleValueParcelLIST {
  display: inline-block;
  background-color: #ffffff;
  color: rgb(15, 80, 100);
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  margin-right: 8px;
  margin-left: 8px;
}

.count {
    display: inline-block;
    background-color: #ffffff;
    color: rgb(109, 10, 10);
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    margin-right: 8px;
    margin-left: 8px;
}

  .customAddTypeButton {
    background-color: rgb(173, 46, 84);
    color: #ffffff;
    border: none;
    border-radius: 7px;
    padding: 20px 20px;
    font-size: 16px;
    margin-top: 36px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s, color 0.2s; 
  }
  
.customAddTypeButton:hover {
    background-color: rgb(115, 2, 64); 
    color: #ffffff !important; 
    transform: scale(1.05);
}


.customAddUnitButton {
  background-color: rgb(42, 141, 111);
  color: #ffffff;
  border: none;
  border-radius: 7px;
  padding: 20px 20px;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, color 0.2s; 
}

.customAddUnitButton:hover {
  background-color: rgb(2, 115, 106); 
  color: #ffffff !important; 
  transform: scale(1.05);
}
