
.container {
    margin-bottom: 20px;
    padding: 10px;
    color: aliceblue;
    background-color: #242424;
    border-radius: 7px;
    font-size: 14px;
}

.count {
    display: inline-block;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    margin-right: 8px;
    margin-left: 8px;
}

  .customAddTypeButton {
    background-color: rgb(173, 46, 84);
    color: #ffffff;
    border: none;
    border-radius: 7px;
    padding: 20px 20px;
    font-size: 16px;
    margin-top: 36px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s, color 0.2s; 
  }
  
.customAddTypeButton:hover {
    background-color: rgb(115, 2, 64); 
    color: #ffffff !important; 
    transform: scale(1.05);
}


.customAddUnitButton {
  background-color: rgb(32, 172, 95);
  color: #ffffff;
  border: none;
  border-radius: 7px;
  padding: 20px 20px;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, color 0.2s; 
}

.customAddUnitButton:hover {
  background-color: rgb(2, 115, 106); 
  color: #ffffff !important; 
  transform: scale(1.05);
}
  