.DatablockPUP {
    border: none;
    border-radius: 3px;
    font-size: 16px;
    padding: 20px 20px;
    margin-right: 10px;
    float:inline-end;
    background-color:rgb(0, 144, 163);
    color: #ffffff;
    font-weight: bolder;
    text-align: center;
}

.titlePUPL {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0em 0 0.1em rgb(255, 255, 255);
  }
  
.iconPUPL {
    font-size: 35px;
    color: black;
    margin-right: 5px;
    color: #ffffff;
}
  
.AddPUPButton {
    background-color: #15D0C5;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 20px; 
    height: auto;  
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}

.AddPUPButton:hover {
    background-color: #00b1a5;
    color: #ffffff !important;
    transform: scale(1.05);
}
.AddPUPButton:active { 
    transform: scale(0.95);
}

.AddPUPButton2 {
    background-color: #8943fa;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 20px; 
    height: auto;  
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}

.AddPUPButton2:hover {
    background-color: #6c35c5;
    color: #ffffff !important;
    transform: scale(1.05);
}
.AddPUPButton2:active { 
    transform: scale(0.95);
}
  

.printPDF {
    background-color: #0089b3;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s, color 0.2s; 
}
  
.printPDF:hover {
    background-color: rgb(0, 71, 104); 
    color: #ffffff !important; 
    transform: scale(1.01);
}
.printPDF:active { 
    transform: scale(0.95);
}


.editButtonPUPL {
    background-color: #8E7BFF;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s, color 0.2s; 
}
  
.editButtonPUPL:hover {
    background-color: #775fff; 
    color: #ffffff !important; 
    transform: scale(1.01);
}
.editButtonPUPL:active {
    transform: scale(0.95);
}

.iconDeletePUPL {
    background-color: #FF6060;
    border: none;
    border-radius: 7px;
    transition: background-color 0.2s, color 0.2s; 
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}
  
.iconDeletePUPL:hover {
    background-color: #ee3e3e; 
    transform: scale(1.01);
}
.iconDeletePUPL:active { 
    transform: scale(0.95);
}


.titleH2 {
    margin-top: 10px;
    font-size: 20px;
    text-align: left;
    padding: 20px;
    padding-left: 20px !important;
    color: aliceblue;
    background-color: rgb(29, 165, 165);
    border-radius: 5px;
}

.titleH1 {
    color: aliceblue;
    align-items: center;
    margin-top: -5px;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 0em 0 0.1em rgb(255, 255, 255);
}


.ApprovalButton {
    background-color: #db5d9c;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.ApprovalButton:hover {
    background-color: #d62f67; 
    color: #ffffff !important; 
    transform: scale(1.01);
}
.ApprovalButton:active { 
    transform: scale(0.95);
}

.AddParcelButton {
    background-color: #c79c4b;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
}
  
.AddParcelButton:hover {
    background-color: #856c00; 
    color: #ffffff !important; 
    transform: scale(1.01);
}
.AddParcelButton:active { 
    transform: scale(0.95);
}


.showVolume {
    background-color: #37cb8e;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    width: 170px;
}