.titleOfPUPL {
    color: aliceblue;
    align-items: center;
    margin-top: -5px;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 0em 0 0.1em rgb(255, 255, 255);
}

.titleofPUParcellist {
    margin-top: 5px;
    font-size: 18px;
    text-align: left;
    padding: 25px;
    padding-left: 20px !important;
    color: aliceblue;
    background-color: rgb(2, 189, 189);
    border-radius: 5px;
}


.PUPLCard {
    margin-top: 20px;
    box-shadow: 0em 0 0.5em rgb(67, 235, 221);
    height: auto;
}

.PUPLfrom {
    justify-content: center;
}

.parcelListTalble {
    margin-top: 5px;
}


.customAddPUPListButton {
    background-color: #E63373;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    padding: 20px 20px;
    font-size: 16px;
    margin-top: 36px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.customAddPUPListButton:hover {
    background-color: #ac2252; 
    color: #ffffff !important; 
    transform: scale(1.05);
}
.customAddPUPListButton:active { 
    transform: scale(0.95);
}


.AddListPL{
    background-color: rgb(59, 183, 187);
    color: #ffffff;
    border: none;
    border-radius: 7px;
    padding: 20px 20px;
    font-size: 16px;
    margin-top: 36px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s, color 0.2s; 
  }
  
.AddListPL:hover {
    background-color: rgb(24, 142, 172); 
    color: #ffffff !important; 
    transform: scale(1.05);
}
.AddListPL:active { 
    transform: scale(0.95);
}


.AddParcelListforExport{
    background-color: rgb(59, 183, 187);
    color: #ffffff;
    border: none;
    border-radius: 7px;
    padding: 20px 20px;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.AddParcelListforExport:hover {
    background-color: rgb(24, 142, 172); 
    color: #ffffff !important; 
    transform: scale(1.05);
}

.AddParcelListforExport:active {
    transform: scale(0.95);
}


.BGPpuplstyle2 {
    min-height: 100vh;
    background-color: rgb(30, 105, 105);
  }

  .BGPpuplstyle3 {
    background-color: rgb(30, 105, 105);
  }

  .cardPupl {
    box-shadow: 0em 0 0.5em rgb(185, 247, 255);
    font-size: 16px;
    margin-top: 20px;
    height: auto;
}

.DatablockPupl {
    border: none;
    border-radius: 3px;
    font-size: 16px;
    padding: 20px 40px;
    float: right; 
    background-color:rgb(52, 192, 211);
    color: #ffffff;
    font-weight: bolder;
    text-align: center;
    margin-left: auto 
}