.menuItem {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}
.menuItem :hover{
    color:#ffffff !important;
    transition: background-color 0.2s, color 0.2s;
}

.SubmenuItem {
    font-size: 14px;
    font-weight: bold;
    color: #0a0a0a;
}
.SubmenuItem :hover{
    color:#ff2b2b;
    transition: background-color 0.2s, color 0.2s;
}
.SubmenuItem :after {
    color: aqua;
}

.TitleWeb {
    margin-right: 100px;
    color: #ffffff;
    font-size:large;
    font-weight:bold;
    cursor:pointer;
}


